<div class="main-container">
  <div class="time">
    <strong> {{ time }} </strong>
  </div>
  <div class="date">
    <span>{{ date }}</span>
  </div>
  <span class="details"> Time in {{ city }}, {{ country }} </span>
</div>